.modal {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    max-width: 80%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Set the z-index */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .heading {
    margin: 0;
  }
  
  .cross-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalActions {
    display: flex;
    justify-content: flex-end;
  }
  
  .logoutBtn, .cancelBtn {
    background-color:#cb0bab; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .logoutBtn:hover, .cancelBtn:hover {
    background-color: #1851ec; /* Darker Green */
  }
  
 
  