

.box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  align-items: center;
  

}

.body_image {
  height: 40%;
  width: 15%;
  border-radius: 10%;

}

.box2 {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60%;
  width: 100%;
  
  
  


}

/* SignUp.css */
.innerbox {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  /* Add border */
  background-color: #f9f9f9;
  /* Add background color */
  padding: 5px 10px;
  /* Add padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add box shadow */
  text-align: left;
  /* Align text left */
  font-size: 14px;
  /* Set font size */
}

#button {
  height: 15%;
  width: 80%;
  background-color: #007bff;
  /* Set background color */
  color: #fff;
  /* Set text color */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Add border radius */
  padding: 10px 20px;
  /* Add padding */
  font-size: 16px;
  /* Set font size */
  cursor: pointer;
  /* Add cursor pointer on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 10%;
}

#button:hover {
  background-color: #0056b3;
  
}

.down_block span {
  color: #007bff;
  font-weight: 900;
}

/* Media queries for phone screens */
@media screen and (max-width: 768px) {
  .body_image {
    width: 50%; /* Adjust image width for smaller screens */
  }

  .innerbox {
    width: 90%; /* Adjust input width for smaller screens */
  }

  #button {
    width: 90%;
    margin-left: 5%; /* Adjust button margin for smaller screens */
  }
}

