.card {
  width: 500px; /* Adjusted width for responsiveness */
  margin: 10px auto; /* Center the card */
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-container {
  width: 100%;
  height: 300px; /* Set a fixed height for the card container */
  padding: 10px auto;
}

.card-container img {
  width: 100%;
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Cover the entire container, preserving aspect ratio */
  border-radius: 4px;
}

.card-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
  padding: 10px;
}

.card-bottom p {
  margin-right: 10px;
}

.card-comment {
  display: flex;
  padding: 10px;
}

.card-comment input {
  width: calc(100% - 70px); /* Adjust according to your button width */
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.card-comment button {
  width: 60px;
  padding: 8px;
  border-radius: 20px;
  background-color: #3897f0; /* Instagram blue */
  color: #fff;
  border: none;
  cursor: pointer;
}
.material-symbols-outlined-red {
  color: red;
  position: relative; /* Position relative for absolute positioning of ::before */
  cursor: pointer;
}

.material-symbols-outlined-red::before {
  content: '\2665'; /* Unicode for heart character */
  position: absolute;
  left: 0;
  top: 0;
  color: red;
  font-size: 22px; /* Adjust font size as needed */
}

.material-symbols-outlined {
  cursor: pointer; 
}
.showComment{
  width: 100vw;
  min-height:100vh ;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(16, 13, 13, 0.4);
  
}
.container{
  display: flex;
  width: 80%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  height: 500px;
}

.postPic{
  background-color: black;
  display: flex;
  align-items: center;
}

.postPic img{
  object-fit: contain;
  width: 100%;
}

.details{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.comment-section{
  flex-grow: 4;
  text-align: left;
  margin-left: 10px;
}

.close-comment{
  position: fixed;
  top: 1%;
  right: 5%;
  color: white;
  border: none;
  cursor: pointer;
}






/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .card {
    width: 90%; /* Adjusted width for smaller screens */
  }

  .card-header img {
    width: 40px;
    height: 40px;
  }

  .card-bottom p {
    font-size: 14px; /* Adjusted font size for smaller screens */
  }

  .card-comment input {
    width: calc(100% - 60px); /* Adjusted width for smaller screens */
  }

  .card-comment button {
    width: 50px; /* Adjusted width for smaller screens */
  }
}
